
h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: Lobster;
  color: turquoise;
  margin: 40px 30px 20px 30px;
  padding: 15px;
  text-shadow: none;

}
 #message {
  font-size: 40px;
  font-weight: italic;
  font-family: helvetica;
  background: black;
  color: white;
  padding: 20px;
  text-shadow: none;
  }

.square {
 border-radius: 30px;
 height: 150px;
 width:  150px;
 display: inline-block;
 overflow: auto;
 background-image: url("http://www.publicdomainpictures.net/pictures/130000/nahled/turquoise-mosaic-background-pattern.jpg");
 font-size: 120px;
 padding: 13px;
}

.row {
 overflow: auto;
 height: 180px;
 width: 600px;
 margin: 0 auto;
}

#container {
  margin: 0 auto;
  display: block;

  }

#main {
  margin: 0 auto;
  position: center;

}

body {
  margin: auto;
  padding: 0px;
  text-align: center;
  background: black;
  min-width: 200px;
  min-height: 200px;
  color: black;
  text-shadow: 2px 2px white;
}

}

#button{
 text-align: center;
 padding: 10px 0px 0px 0px;
}

