
h1 {
  font-size: 50px;
  font-weight: bold;
  border: 5px solid black;
  border-style: groove;
  font-family: Comic Sans;
  background-image: url("http://i.stack.imgur.com/WHu9Z.png");
  color: black;
  border: 5px solid blue;
  margin: 40px 30px 20px 30px;
  padding: 15px;

}
 #message {
  font-size: 25px;
  font-weight: italic;
  border: 5px solid black;
  border-style: groove;
  font-family: Comic Sans;
  background-image: url("http://i.stack.imgur.com/WHu9Z.png");
  color: black;
   border: 5px solid blue;
   margin: 40px 30px 20px 30px;
   padding: 30px;
   border-radius: 50%;

  }

.square {

 border-radius: 15px;
 height: 150px;
 width: 150px;
 display: inline-block;


 overflow: auto;
 background-image: url("http://vignette3.wikia.nocookie.net/papermario/images/6/6f/Super-star.png/revision/latest?cb=20140522220841");
 font-size: 120px;
 border-color: solid white;
 border: 5px;
 border-style: groove;

}

.row {

 overflow: auto;

 height: 180px;
 width: 600px;
 margin: 0 auto;

}

#container {
  margin: 0 auto;
  display: block;

  }

#main {
  margin: 0 auto;
  position: center;

}

body {
  margin: auto;
  padding: 0px;
  text-align: center;
  background-image: url("https://www.colourbox.com/preview/1576818-brick-wall-background-urban-city-building-scene.jpg");
  min-width: 200px;
  min-height: 200px;
  color: black;


  }

}

#button{
 text-align: center;
 padding: 10px 0px 0px 0px;
}

